# Entornos virtuales
**/venv/
**/.venv/

# Archivos de configuración de entorno
.env
.env.*

# Archivos de sistema y caché
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Archivos creados por editores
.vscode/
.idea/
*.swp

# Archivos de Streamlit
frontend/.streamlit/

# Archivos de ejecución
.DS_Store
*.db
*.sqlite3

# Archivos de paquetes
*.egg-info/
dist/
build/

# Jupyter notebooks temporales (por si usas)
*.ipynb_checkpoints

# Archivos compilados
*.so